header {
    nav{
        height: 70px;
        align-items: center;
        background-color: #B1D281;
        a{
            font-size: 16px;
            color: #333338;
            text-decoration: none;
            
        }
        .active{
            color: #002D75; 
            font-weight: 600; 
            border-bottom: 3px solid #002D75;     
        }
        a:not(:last-child){
            margin-right: 70px;    
        }
        a:hover{
            color: #002D75; 
            font-weight: 600; 
            border-bottom: 3px solid #002D75;     
        }
        
    }
}
